.center {
  margin: auto;
  /* width: 25%; */
  border: 3px solid green;
  padding-left: 70px;
  padding-top:  50px;
}

.barre_bouton{
  padding-top: 30px;
  height: 100px;
}

.petitcarre{
  border: 3px solid rgb(128, 0, 0);

}

.cent_pour_cent{
  height: 100%;
}

.cinquante_pour_cent{
  height: 50%;
}
.body{
  background-color  : black;
  color             : aliceblue;
  overflow-x: hidden;
}

.test{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Création d'une classe pour les cases du tableau */
.case_mur{
  background-image  : url(../images/mur.png);
  background-size   : contain;
  width             : 75px;
  height            : 75px;
  border            : 1px solid lightgrey;
  vertical-align    : middle;
  line-height       : 50px;
  font-size         : 30px;
  text-align        : center;
  display: inline-block;
}

.case{
  background-image  : url(../images/herbe.png);
  background-size   : contain;
  width             : 75px;
  height            : 75px;
  border            : 1px solid lightgrey;
  vertical-align    : middle;
  line-height       : 50px;
  font-size         : 30px;
  text-align        : center;
  display: inline-block;
}

.case_hero{
  background-image  : url(../images/hero.png);
  background-size   : contain;
  width             : 75px;
  height            : 75px;
  border            : 1px solid lightgrey;
  vertical-align    : middle;
  line-height       : 50px;
  font-size         : 30px;
  text-align        : center;
  display: inline-block;
}

.case_moutton{
  background-image  : url(../images/moutton.png);
  background-size   : contain;
  width             : 75px;
  height            : 75px;
  border            : 1px solid lightgrey;
  vertical-align    : middle;
  line-height       : 50px;
  font-size         : 30px;
  text-align        : center;
  display: inline-block;
}



/* Style de la barre de défilement en mode sombre */
::-webkit-scrollbar {
  width: 10px;
  background-color: #333;
  /* Couleur de fond en mode sombre */
}

/* Style du curseur de la barre de défilement en mode sombre */
::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Couleur du curseur en mode sombre */
}